.nav
{
    background-color: aqua;
    height: 100px;
    width: 100px;
}
.nav
{
    background-color:red  ;
    height: 100px;
    width: 100px;

   
}
#naveen{
    background-color: blue;
    height: 100px;
    width: 100px;

}
#cd1{
    background-color: green;
    height: 100px;
    width: 100px;
}
#cd2{
    background-color: aqua;
    height: 100px;
    width: 100px;
}
#cd3{
    background-color: yellow;
    height: 100px;
    width: 100px;

}
#cd4{
    background-color: yellow;
    height: 100px;
    width: 100px;
}
#cs1{
    background-color: violet;
    height: 100px;
    width: 100px;
}
#cs2{
    background-color: red;
    height: 100px;
    width: 100px;
}
#cs3{
    background-color:  blue;
    height: 100px;
    width: 100px;
}
#cs4{
    background-color: pink;
    height: 100px;
    width: 100px;
}
#cd5{
    background-color: yellow;
    height: 100px;
    width: 100px;
}
#cd6{
    background-color:white;
    height: 100px;
    width: 100px;
}
#cd7{
    background-color: yellow;
    height: 100px;
    width: 100px;
}
#cd8{
    background-color: yellow;
    height: 100px;
    width: 100px;
}